@model ManutationItemsApp.Domain.Entities.Item
@using Kendo.Mvc.UI
    <h4>Modificare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Items">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ModelFMECA" class="control-label">Modello FMECA</label>
                <input asp-for="ModelFMECA" class="form-control" />
                <span asp-validation-for="ModelFMECA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalIdentificationalCode" class="control-label">Codice identificativo interno</label>
                <input asp-for="InternalIdentificationalCode" class="form-control" />
                <span asp-validation-for="InternalIdentificationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierItemCode" class="control-label">Codice Item del Fornitore</label>
                <input asp-for="SupplierItemCode" class="form-control" />
                <span asp-validation-for="SupplierItemCode" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ItemType" class="control-label"></label>
            <input asp-for="FamilyCode" class="form-control" />
            <span asp-validation-for="FamilyCode" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">
            <label asp-for="AssetsNames" class="control-label">Asset</label>
            @(Html.Kendo().MultiSelect()
              .Name("AssetsNames")
              .Placeholder("Select assets...")
              .BindTo(ViewBag.AllAssetNames)
              .Value(ViewBag.AssetNames)
            )
            <span asp-validation-for="AssetsNames" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="SupplierNames" class="control-label">Supplier</label>
            @(Html.Kendo().MultiSelect()
           .Name("SupplierNames")
           .Placeholder("Select suppliers...")
           .BindTo(ViewBag.AllSupplierNames)
           .Value(ViewBag.SupplierNames)
            )
            <span asp-validation-for="SupplierNames" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="DescriptionItalian" class="control-label">Descrizione Italiano</label>
                <input asp-for="DescriptionItalian" class="form-control" />
                <span asp-validation-for="DescriptionItalian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOriginal" class="control-label">Descrizione Originale</label>
                <input asp-for="DescriptionOriginal" class="form-control" />
                <span asp-validation-for="DescriptionOriginal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modello</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Characteristics" class="control-label">
                    Caratteristica
                    (Elettrico, Meccanico, Elettromeccanico):
                </label>
                <select asp-for="Characteristics" class="form-control" asp-items="@ViewBag.Characteristics"></select>
                <span asp-validation-for="Characteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QRCode" class="control-label">QRCOD</label>
                <input asp-for="QRCode" class="form-control" />
                <span asp-validation-for="QRCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NFC" class="control-label">NFC</label>
                <input asp-for="NFC" class="form-control" />
                <span asp-validation-for="NFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarCode" class="control-label">Codice a Barre</label>
                <input asp-for="BarCode" class="form-control" />
                <span asp-validation-for="BarCode" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="SerialNumber" class="control-label">N. Matricola</label>
            <input asp-for="SerialNumber" class="form-control" />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="YearOfManufacture" class="control-label">Anno di Fabbricazione</label>
            <input asp-for="YearOfManufacture" class="form-control" />
            <span asp-validation-for="YearOfManufacture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TestDate" class="control-label">
                Data Collaudo
            </label>
            <input asp-for="TestDate" class="form-control" />
            <span asp-validation-for="TestDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CommissioningDate" class="control-label">Data messa in Servizio</label>
            <input asp-for="CommissioningDate" class="form-control" />
            <span asp-validation-for="CommissioningDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WarrantyExpiresDate" class="control-label">Data Scadenza Garanzia</label>
            <input asp-for="WarrantyExpiresDate" class="form-control" />
            <span asp-validation-for="WarrantyExpiresDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Denominazione</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Files" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Files" type="file" multiple class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SupplierNames" class="control-label">Fornitore</label>
                <select asp-for="SupplierNames" class="form-control" asp-items="@ViewBag.SupplierNames">
                </select>
                <span asp-validation-for="SupplierNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplyTime" class="control-label">Tempo Approvvigionamento</label>
                <input asp-for="SupplyTime" class="form-control" />
                <span asp-validation-for="SupplyTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsReparaible" class="control-label">Riparaible</label>
                <select asp-for="IsReparaible" class="form-control" asp-items="@ViewBag.Reparaible">
                </select>
                <span asp-validation-for="IsReparaible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntalledQuantity" class="control-label">Quantità Totali Installati</label>
                <input asp-for="IntalledQuantity" class="form-control" />
                <span asp-validation-for="IntalledQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Ingombro</label>
                <select asp-for="Size" class="form-control" asp-items="@ViewBag.Sizes"></select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumptionSpeed" class="control-label">Velocità di Consumo</label>
                <input asp-for="ConsumptionSpeed" class="form-control" />
                <span asp-validation-for="ConsumptionSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandlingWay" class="control-label">Movimentazione</label>
                <select asp-for="HandlingWay" class="form-control" asp-items="@ViewBag.HandlingWays">
                </select>
                <span asp-validation-for="HandlingWay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountAtWarehouse" class="control-label">Posizione in Magazzino</label>
                <input asp-for="CountAtWarehouse" class="form-control" />
                <span asp-validation-for="CountAtWarehouse" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deterioration" /> Conservazione / deterioramento
                </label>
            </div>

            <div class="form-group">
                <label asp-for="SecurityLevelLs" class="control-label">Livello di Sicurezza Ls</label>
                <input asp-for="SecurityLevelLs" class="form-control" />
                <span asp-validation-for="SecurityLevelLs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReorderLevelLr" class="control-label">Livello di Riordino Lr</label>
                <input asp-for="ReorderLevelLr" class="form-control" />
                <span asp-validation-for="ReorderLevelLr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptimalPurchaseQuantity" class="control-label">Quantità Ottimale di Acquisto Qa</label>
                <input asp-for="OptimalPurchaseQuantity" class="form-control" />
                <span asp-validation-for="OptimalPurchaseQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-primary itemBtn">Torna alla lista</button>
</div>
