@model IEnumerable<ManutationItemsApp.Domain.Entities.Item>
    <div id="partialViewDiv">

        <div class="form-group row">
            <div class="col-6">
                <h2 class="text-primary">Items</h2>
            </div>
            <div class="col-6 text-right">
                <button class="btn-primary addItemBtn">Crea nuovo +</button>
                @*<a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i>&nbsp; Crea Nuovo Item</a>*@
                <a class="btn btn-secondary" asp-action="ItemSyncF"><i class="fad fa-analytics"></i>&nbsp; Excel</a>
            </div>
        </div>
 
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Modello FMECA
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Descrizione italiana
                    </th>
                    <th>
                        Descrizione Originale
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModelFMECA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescriptionItalian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescriptionOriginal)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Items" data-ajax="true" data-ajax-method="GET" data-ajax-success="GetItemEditForm"><i class="fa fa-marker fa-lg"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Items" data-ajax="true" data-ajax-method="GET" data-ajax-success="ItemCreateOnComplete"><i class="fa fa-trash-alt fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">Torna indietro</a>
        </div>
    </div>