@model IEnumerable<ManutationItemsApp.Domain.Entities.Tool>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToolType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManufacturerCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToolType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerCode)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Tools" data-ajax="true" data-ajax-method="GET" data-ajax-success="GetToolEditForm"><i class="fa fa-marker fa-lg"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Tools" data-ajax="true" data-ajax-method="GET" data-ajax-success="ToolDeleteComplete"><i class="fa fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
