@model IEnumerable<ManutationItemsApp.Domain.Entities.Supplier>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommercialRefferent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneCom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalRefferent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneTechn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailTechn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovTemp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommercialRefferent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneCom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalRefferent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneTechn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailTechn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovTemp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Suppliers" data-ajax="true" data-ajax-method="GET" data-ajax-success="GetSupplierEditForm"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Suppliers" data-ajax="true" data-ajax-method="GET" data-ajax-success="SupplierDeleteComplete"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
