@model ManutationItemsApp.Domain.Entities.Manutation
@{
    var isNext = Model.ManutationStages.FirstOrDefault(a => a.Name == "Attivita") != null &&
        Model.ManutationStages.FirstOrDefault(a => a.Name == "Attivita").Statuses.Where(a => a.Name == "Finished").Count() > 0;
    var stage = Model.ManutationStages.FirstOrDefault(a => a.Name == "Check Out");
    if (stage != null && stage.Tools != null && stage.Tools.Count() > 0)
    {
        ViewBag.Tools = stage.Tools;
    }
    if (stage != null && stage.MeasuringTools != null && stage.MeasuringTools.Count() > 0)
    {
        ViewBag.MeasuringTools = stage.MeasuringTools;
    }
}


    <div class="card mt-5">
        <div class="card-header">
                <button type="button" class="btn btn-success mr-4" disabled>Check Out</button>
            
            @if (stage != null && stage.StartDate != null)
            {
                <div class="input-group mt-2 disabled col-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar-check fa-lg"></i></div>
                    </div>
                    <input disabled asp-for="@stage.StartDate" name="CheckOutStartDate" class="form-control" />
                </div>
            }
            else
            {
                <div class="input-group mt-2 disabled col-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar-check fa-lg"></i></div>
                    </div>
                    <input disabled name="CheckOutStartDate" class="form-control" />
                </div>
            }

            @if (stage != null && stage.EndDate != null)
            {
                <div class="input-group mt-2 disabled col-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar-times fa-lg"></i></div>
                    </div>
                    <input disabled asp-for="@stage.EndDate" name="CheckOutEndDate" class="form-control" />
                </div>
            }
            else
            {
                <div class="input-group mt-2 disabled col-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar-times fa-lg"></i></div>
                    </div>
                    <input disabled name="CheckOutEndDate" class="form-control" />
                </div>
            }
        </div>
        <div class="card-body disabledcard">
            <form asp-action="Continue" asp-controller="ManutationStages">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">
                        Descrizione attività di Check Out:
                    </label>
                    <textarea asp-for="@stage.Description" class="form-control"></textarea>
                    <span asp-validation-for="@stage.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Aggiungi Manutentore o Outsoucer:
                    </label>
                    <a><i class="fa fa-plus-square fa-lg"></i></a>
                    @*<input asp-for="@stage.StartDate" value="@DateTime.Now" class="form-control" />
                        <span asp-validation-for="@stage.StartDate" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Attrezzatura:
                    </label>
                    <div id="checkOutMdcList">
                        @if (ViewBag.Tools != null)
                        {
                            @foreach (var item in ViewBag.Tools)
                            {
                                <div class="checkOutMdc">
                                    <button type="button" class="btn btn-light">@item.Name<span class="badge badge-dark">@item.Count</span></button>
                                    <button type="button" class="checkOutClose"><span aria-hidden="true">&times;</span></button>
                                </div>
                            }
                        }

                    </div>
                    <a data-toggle="modal" data-target="#checkOutAttrezzaturaModal"><i class="fa fa-plus-square fa-lg"></i></a>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Strumento Misura:
                    </label>
                    <div id="checkOutMeasuringList">
                        @if (ViewBag.MeasuringTools != null)
                        {
                            @foreach (var item in ViewBag.MeasuringTools)
                            {
                                <div class="checkOutMeasuring">
                                    <button type="button" class="btn btn-light">@item.Name<span class="badge badge-dark">@item.Count</span></button>
                                    <button type="button" class="checkOutClose"><span aria-hidden="true">&times;</span></button>
                                </div>
                            }
                        }

                    </div>
                    <a data-toggle="modal" data-target="#checkOutMeasuringModal"><i class="fa fa-plus-square fa-lg"></i></a>
                </div>
            </form>
        </div>
    </div>

