@model ManutationItemsApp.Domain.Entities.Manutation
@{
    var stage = Model.ManutationStages.First(a => a.Name == "Request");
    //ViewData["activeStageStatus"] = Model.ManutationStages.First(a => a.Active == true).Statuses.First(a=>a.Active==true).Name;
}
    <div class="card mt-5 disabledcard">
        <div class="card-header">
            Richiesta
            @if (Model.IsOtherActivity)
            {
                <button type="button" class="btn" style="border: 3px solid #0000FF">#@Model.Id</button> <i class="fa fa-print fa-lg"></i>
            }
            @if (Model.IsFailure)
            {
                <button type="button" class="btn btn-danger rounded-circle">#@Model.Id</button> <i class="fa fa-print fa-lg"></i>
            }
            else if (Model.IsCartolinaRossa)
            {
                <button type="button" class="btn" style="border: 3px solid 	#FF6347;">#@Model.Id</button> <i class="fa fa-print fa-lg"></i>
            }
            else
            {
                @if (!Model.IsOtherActivity)
                {
                    <button type="button" class="btn btn-warning rounded-circle">#@Model.Id</button> <i class="fa fa-print fa-lg"></i>
                }
            }
            <div class="form-group">
                <label class="control-label">
                    <i class="fa fa-calendar-check fa-lg"></i>  Date e Ora Richiesta Intervento
                </label>
                @Html.DisplayFor(m => m.DateOfCreation)
                <span asp-validation-for="@Model.DateOfCreation" class="text-danger"></span>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Start" asp-controller="ManutationStages">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" />
                <div class="form-group">
                    <label class="control-label">ASSET</label>
                    @Html.DisplayFor(modelItem => Model.Asset.FullName)
                </div>
                <div class="form-group">
                    <label class="control-label">Intervento richiesto da:</label>
                    @Html.DisplayFor(modelItem => Model.Creator.UserName)
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Descrizione del guasto o malfunzionamento:
                    </label>
                    <textarea asp-for="@Model.BaseDescription" class="form-control"></textarea>
                    <span asp-validation-for="@Model.BaseDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Codice di Guasto:
                    </label>
                    @Html.DisplayFor(m => m.ErrorCode.Name)

                    <span asp-validation-for=" @Model.ErrorCode.Name" class="text-danger">
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tipologia Guasto / Malfunzionamento:</label>
                    @Html.DisplayFor(m => m.TypeOfFault.Name)
                    <span asp-validation-for=" @Model.TypeOfFault.Name" class="text-danger">
                    </span>
                </div>
                @*<div class="form-group">
                    <input type="submit" value="Clicca Inizio Intervento" class="btn btn-success" />
                </div>*@
            </form>
        </div>
    </div>

