@model ManutationItemsApp.Models.Manutations.ManutationViewModel
@using ManutationItemsApp.HtmlHelpers.Manutations;



<tr class="table-info" style="text-align:center">
    <td colspan="13">Da Iniziare</td>
</tr>
@foreach (var item in Model.toBeInitialized)
{
    <tr>
        <td>
            @if (item.IsFailure)
            {
                <button type="button" class="btn btn-danger rounded-circle">@item.Id</button>
            }
            else if (item.IsCartolinaRossa)
            {
                <button type="button" class="btn" style="border: 3px solid #FF6347;">@item.Id</button>
            }
            else
            {
                <button type="button" class="btn btn-warning rounded-circle">@item.Id</button>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfFault.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManutationStages.First(a => a.Active == true).Statuses.First(a => a.Active == true).Name)
        </td>
        <td>
        </td>
        <td>
            <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
        </td>
        <td>
            @Html.GetAssignButtonHtml(Model.UserRules)
        </td>
    </tr>
}