@model ManutationItemsApp.Models.Manutations.ManutationViewModel
@using ManutationItemsApp.HtmlHelpers.Manutations;

<tr class="table-info" style="text-align:center">
    <td colspan="13">Da Assegnare</td>
</tr>
@foreach (var item in Model.needToAssign)
{
<tr>
    <td>
        @if (item.IsOtherActivity)
        {
            <button type="button" class="btn" style="border: 3px solid #0000FF">@item.Id</button>
        }
        @if (item.IsFailure)
        {
            <button type="button" class="btn btn-danger rounded-circle">@item.Id</button>
        }
        else if (item.IsCartolinaRossa)
        {
            <button type="button" class="btn" style="border: 3px solid #FF6347;">@item.Id</button>
        }
        else
        {
            @if (!item.IsOtherActivity)
            {
                <button type="button" class="btn btn-warning rounded-circle">@item.Id</button>
            }
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfCreation)
    </td>
    <td>
        <p> @Html.DisplayFor(modelItem => item.Asset.FullName)</p>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BaseDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Creator.UserName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TypeOfFault.Name)
    </td>

    <td>
        Creato
    </td>
    <td>
    </td>
    <td>
        <a type="button" class="btn btn-primary">Details</a>
        @*<a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>*@
    </td>
    <td>
        @await Component.InvokeAsync("AssignButton", new { itemId = item.Id, userRules = Model.UserRules })
    </td>
</tr>
}