@model IEnumerable<ManutationItemsApp.Models.Dto.UserDTO>

<button class="btn-primary addUserBtn">Create New+</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Users" data-ajax="true" data-ajax-method="GET" data-ajax-success="GetUserEditForm"><i class="fa fa-marker fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Users" data-ajax="true" data-ajax-method="GET" data-ajax-success="UserCreateOnComplete"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

<ejs-grid id="Grid" detailTemplate="#detailtemplate" dataSource="@Model" allowResizing="true" allowFiltering="true" allowPaging="true" locale="it-IT" allowExcelExport="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport"})">
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-pagesettings pageSizes="true">
    </e-grid-pagesettings>
    <e-grid-columns>
            <e-grid-column field="Name" headerText="Nome" textAlign="Right" width="120"></e-grid-column>
            <e-grid-column field="Surname" headerText="Cognome" width="150"></e-grid-column>
            <e-grid-column field="Email" headerText="Email" width="150"></e-grid-column>
            <e-grid-column field="Phone" headerText="Tel." width="150"></e-grid-column>
            <e-grid-column field="Company" headerText="Società" width="150"></e-grid-column>
            <e-grid-column field="RoleName" headerText="Ruolo" width="150"></e-grid-column>
            

        </e-grid-columns>
</ejs-grid>

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>
